<% provide(:title, "about") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | jaythaceo.com</title>
</head>
<body>
	<h1>About</h1>
		<p>
			<a href="@jaythaceo">@jaythaceo</a> tooling page<br>
			will have books dotfiles, links and screencast that will<br>
			keep you informed<br>
		</p>
</body>
</html>