<!DOCTYPE html>
<html>
<head>
	<title>Home | jaythaceo.com</title>
</head>
<body>
	<h1>Help</h1>
		<p>
			Get from jaythaceo and other at
			<a href="https://github.com/jaythaceo">Jaythaceo's GitHub page</a>
			this is the starter page
		</p>
</body>
</html>